log/*
install/*
build/*

# Python bytecode caches
__pycache__/
*.pyc

# pytest
.pytest_cache/
tienkung_dex/log/*
.gitignore
tienkung_dex/python/build/*
tienkung_dex/python/install/*
tienkung_dex/python/log/*